name: Main

on:
  push:
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+'

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: false

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Build Wheel
        shell: cmd
        run: |          
          python -m pip install --upgrade pip setuptools wheel twine
          python setup.py bdist_wheel --plat-name win_amd64

      - name: Deploy Wheel
        shell: cmd
        run: |          
          python -m twine upload dist/*.whl -u __token__ -p ${{ secrets.PYPI_PASSWORD }} --skip-existing
